body{
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
   background-image: url("/IMG/login bg.jpg");
  background-size: cover;

}

.container{
  width: 35%;
  height: 70%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, san serif;
  border-radius: 0.5rem;
  border: 0.1rem #111111 solid;
  backdrop-filter: blur(3px);
}

input{
  display: block;
  border: 0.1rem #111111 solid;
}


*, input::placeholder{
  color: #ffffff;
  background-color: transparent;
}

input{
  width: 20rem;
  height: 2rem;
  margin-bottom: 0.8rem;
  border: 0.1rem #ffffff solid;
  border-radius: 0.5rem;
  padding-left: 1rem;
}

button{
  border: 0.1rem #ffffff solid;
  border-radius: 0.5rem;
  width: 10rem;
  height: 2rem;
  color: #ffffff;
  border: 0.1rem #ffffff solid;
  margin-top: 0.8rem;
}

h2{
  position: relative;
  bottom: 1rem;
}

a{
  color: #ffffff;
  text-decoration: none;
}

.Login-button{
  display: block;
  position: relative;
  right: -5rem;
  top: -0.5rem;
}

